.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 28px;
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 28px;
}

.slider.round:before {
    border-radius: 50%;
}

/* Desenho checklist ----------------------------------------------------- */

#border-checklist{
    border: 2px #000 solid;
}

#modal{
    position:absolute;
    z-index:9998; 
    background-color:#C0C0C0;
    display:none;
    filter:alpha(opacity=30, finishopacity=30, style=1);
    opacity:0.5;
    top: 0;
}

#box-new-folder { 
    width: 400px; 
    height: 430px; 
    padding: 0.4em; 
    position: absolute;
    z-index: 9999; 
    background: #003eff;
    border: 1px solid #C4C4C4;
    box-shadow: 0px 0px 10px #C4C4C4;
}
